

html {
  font-size: 1rem;
  font-family: 'Big Shoulders Stencil Text', cursive;
  background: #000110;
}

body {
  padding: 0;
  color: #fff;
}

main {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 20%);
  padding: 0;
  max-width: 100%;
  max-height: 100%
}

main: hover {
  text-decoration-style: none;
}


h1, h2 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  margin-top: 12%;
  margin-left: 2%;
  font-size: 5rem;
  line-height: 4rem;
  grid-column: 1 / 9;
  grid-row: 1 / 6;
}

  

.triangle1 {
  width: 0;
  height: 0;
  border-bottom: 40rem solid #d7d7d7;
  border-left: 12rem solid transparent;
  border-right: 12rem solid transparent;
  grid-area: 3 / 8 / 7 / 11;
  animation: jello;
  animation-duration: 0.5s;
}

.triangle2 {
  width: 0;
  height: 0;
  border-top: 5rem solid #464646;
  border-right: 4rem solid transparent;
  border-left: 4rem solid transparent;
  grid-area: 1 / 9 / 2 / 10;
  animation: jello;
  animation-duration: 0.5s;
}